In [78]:
import pandas as pd
import numpy as np

In [79]:
# Load dataset
df = pd.read_csv('spam_dataset.csv', encoding='latin-1')

In [80]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [81]:
df = df.drop(columns=['Unnamed: 0'])

In [82]:
df.head()

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  spam  Subject: photoshop , windows , office . cheap ...          1
4   ham  Subject: re : indian springs\r\nthis deal is t...          0

In [83]:
df['label_num'] = df['label'].map({'ham': 0, 'spam': 1})

In [84]:
df['label_num'].value_counts()

label_num
0    3672
1    1499
Name: count, dtype: int64

In [85]:
# Check for missing value
df.isnull().sum()

label        0
text         0
label_num    0
dtype: int64

In [86]:
# check for duplicate
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5166    False
5167    False
5168     True
5169    False
5170    False
Length: 5171, dtype: bool

In [87]:
df.duplicated().sum()

np.int64(178)

In [88]:
# Remove duplicate rows
df = df.drop_duplicates()

In [89]:

# Check the shape after removing duplicates
print("Dataset shape after removing duplicates:", df.shape)

Dataset shape after removing duplicates: (4993, 3)

In [90]:
import re
from nltk.corpus import stopwords
import nltk

# Download stopwords (if not already downloaded)
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to C:\Users\indira
[nltk_data]     gothi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [91]:
# Function to clean text
def clean_text(text):
    # Remove special characters, numbers, and extra spaces
    text = re.sub(r'\W', ' ', text)  # Non-word characters
    text = re.sub(r'\d', ' ', text)  # Digits
    text = re.sub(r'\s+', ' ', text)  # Multiple spaces
    text = text.strip()  # Leading/trailing spaces
    
    # Convert to lowercase
    text = text.lower()
    
    # Remove stopwords
    text = ' '.join(word for word in text.split() if word not in stop_words)
    
    return text

# Apply the cleaning function to the 'text' column
df['cleaned_text'] = df['text'].apply(clean_text)

In [92]:
# Check the original and cleaned text 
df[['text', 'cleaned_text']].head()

,text,cleaned_text
0,Subject: enron methanol ; meter # : 988291\r\n...,subject enron methanol meter follow note gave ...
1,"Subject: hpl nom for january 9 , 2001\r\n( see...",subject hpl nom january see attached file hpln...
2,"Subject: neon retreat\r\nho ho ho , we ' re ar...",subject neon retreat ho ho ho around wonderful...
3,"Subject: photoshop , windows , office . cheap ...",subject photoshop windows office cheap main tr...
4,Subject: re : indian springs\r\nthis deal is t...,subject indian springs deal book teco pvr reve...

In [93]:
df.shape

(4993, 4)

In [94]:
df.head()

,label,text,label_num,cleaned_text
0,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,subject enron methanol meter follow note gave ...
1,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,subject hpl nom january see attached file hpln...
2,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,subject neon retreat ho ho ho around wonderful...
3,spam,"Subject: photoshop , windows , office . cheap ...",1,subject photoshop windows office cheap main tr...
4,ham,Subject: re : indian springs\r\nthis deal is t...,0,subject indian springs deal book teco pvr reve...

In [95]:
df=df.drop(columns=['text'])

In [96]:
print(df.head())

  label  label_num                                       cleaned_text
0   ham          0  subject enron methanol meter follow note gave ...
1   ham          0  subject hpl nom january see attached file hpln...
2   ham          0  subject neon retreat ho ho ho around wonderful...
3  spam          1  subject photoshop windows office cheap main tr...
4   ham          0  subject indian springs deal book teco pvr reve...

In [97]:
df.shape

(4993, 3)

In [98]:
# Save the updated DataFrame to a new CSV file
df.to_csv('cleaned_spam_detection.csv', index=False)